:root {
    /* GLOBAL OPTION */
    --spacing: 12px; /* amount of spacing and padding */
    --roundness: 10px; /* radius of round corners */
    --window-name: 'HAIL SATAN!'; /* text in the upper left side of the discord app */

    /* THEME ACCENT COLOR */
    --accent-1: hsl(340, 92%, 49%); /* color of links */
    --accent-2: hsl(340, 92%, 42%); /* color of unread dividers and some indicators */
    --accent-3: hsl(340, 92%, 40%); /* color of accented buttons */
    --accent-4: hsl(340, 92%, 30%); /* color of accented buttons when hovered */
    --accent-5: hsl(340, 92%, 20%); /* color of accented buttons when clicked */
    --accent-opacity-90: rgba(240, 10, 87, 0.90);
    --accent-opacity-80: rgba(240, 10, 87, 0.80);
    --accent-opacity-70: rgba(240, 10, 87, 0.70);
    --accent-opacity-60: rgba(240, 10, 87, 0.60);
    --accent-opacity-50: rgba(240, 10, 87, 0.50);
    --accent-opacity-40: rgba(240, 10, 87, 0.40);
    --accent-opacity-30: rgba(240, 10, 87, 0.30);
    --accent-opacity-20: rgba(240, 10, 87, 0.20);
    --accent-opacity-10: rgba(240, 10, 87, 0.10);
    --accent-opacity-05: rgba(240, 10, 87, 0.05);

    /* MENTION COLOR */
    --mention: hsla(160, 60%, 50%, 0.1);/* color of mentions and messages that mention you */
    --mention-hover: hsla(160, 60%, 50%, 0.05);/* color of mentions and messages that mention you when hovered */

    /* TEXT COLOR */
    --text-1: hsl(220, 40%, 90%);/* color of bright text on colored buttons */
    --text-2: hsl(220, 34%, 76%);/* color of headings and important text */
    --text-3: hsl(221, 23%, 76%);/* color of normal text */
    --text-4: hsl(219, 13%, 48%);/* color of icon buttons and channels */
    --text-5: hsl(220, 15%, 40%);/* color of muted channels/chats and timestamps */

    /* BACKGROUND */
    --bg-1: #2b303b; /* color of dark buttons when clicked */
    --bg-2: #21242b; /* color of dark buttons */
    --bg-3: #1c1f26; /* color of spacing around panels and secondary elements */
    --bg-4: #0f1219; /* main background color */

    /* HOVER & ACTIVE COLOR */
    --hover: hsla(230, 20%, 40%, 0.1); /* color of channels and icon buttons when hovered */
    --active: hsla(220, 20%, 40%, 0.2); /* color of channels and icon buttons when clicked or selected */
    --message-hover: hsla(220, 0%, 0%, 0.1); /* color of messages when hovered */

    --scrollbar-auto-thumb: var(--bg-1)!important;
    --scrollbar-auto-track: var(--bg-3)!important;
    --scrollbar-thin-thumb: var(--bg-3)!important;
    --scrollbar-thin-track: transparant!important;
}

html, body {
	background-color: var(--bg-2);
	color: var(--text-1)
}

.card {
	background: var(--bg-4);
	border: none;
	border-radius: var(--roundness);

}

.card#card-menu {
	transition: ease-in-out .2s;
}
.card#card-menu:hover {
	transform: scale(1.03)
}

.btn-primary {
	background: var(--accent-opacity-70);
	border: none;
	border-radius: var(--roundness);
}

.btn-primary:hover {
	background: var(--accent-opacity-90);
	border: none;
	border-radius: var(--roundness);
}

.modal {
	background: #2b303b99;
}

.modal-header {
	background: var(--bg-4);
	border: none;
	border-radius: var(--roundness);
	margin-bottom: 1em
}

.modal-body {
	background: var(--bg-4);
	border: none;
	border-radius: var(--roundness);
}

.modal-content {
	background: none;
	border: none;
}

td, tr {
    color: var(--text-1)
}

.bg-dark {
    background-color: var(--bg-1)!important;
}

.clipboard {
    background: none;
    border: none;
    text-align: center;
    border-radius: 0.25rem;
    background-color: var(--bg-1)!important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--bg-2);
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: var(--bg-3);
}

.table>:not(caption)>*>*,
.table>:not(:last-child)>:last-child>* {
    border-color: var(--active);
}

.page-item.disabled .page-link {
    color: var(--text-5);
    pointer-events: none;
    background-color: var(--bg-4);
    border-color: var(--bg-3);
}

.page-link {
    color: var(--accent-1);
    background-color: var(--bg-2);
    border: 1px solid var(--bg-1);
}

.page-link:hover {
    color: var(--accent-1);
    background-color: var(--hover);
    border-color: var(--bg-1);
}

.page-item.active .page-link {
    color: var(--accent-1);
    background-color: var(--accent-opacity-20);
    border-color: var(--accent-opacity-30);
}

.page-link:focus {
    color: var(--accent-1);
    background-color: var(--hover);
    box-shadow: 0 0 0 0.25rem rgb(242 10 54 / 25%);
}

.form-control, .form-select {
    color: var(--text-2);
    background-color: var(--bg-2);
    border: 1px solid var(--bg-1);
}

.form-control:focus, .form-select:focus {
    color: var(--text-2);
    background-color: var(--bg-2);
    border: 1px solid var(--bg-1);
    box-shadow: 0 0 0 0.25rem rgb(242 10 54 / 25%);
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before {
    bottom: 52%;
    content: "▲";
    content: "\f062";
    font-family: 'Font Awesome 6 Pro';
}

table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 51%;
    content: "▼";
    content: "\f063";
    font-family: 'Font Awesome 6 Pro';
}
.btn-close {
    background: none;
    width: auto;
    height: auto;
    color: var(--accent-1);
    opacity: 1
}

.btn-close:hover {
    background: none;
    width: auto;
    height: auto;
    color: var(--accent-1);
    opacity: .8
}

.btn-close::before{
    content: "\f00d";
    font-family: 'Font Awesome 6 Pro';
    font-size: xx-large;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}